<section id="about">
<div class="info">

    <div class="container">
        <p class="col-lg-12 text-center" style="padding-top: 50px; padding-bottom: 50px;">ANDRÉS</p>
        <div class="row">
       <br>
        <img src="https://78.media.tumblr.com/3e487919c7f0da480d72bd22b8abc9b0/tumblr_p3ehn98RBi1wya4pjo1_250.jpg" class="profile">
           <div class="col-lg-6"><p>Tatuador, diseñador y artista plástico; residente de la ciudad de Medellín;<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </p>
               
             <i style="font-size: 24px;" class="fa fa-instagram text-center" aria-hidden="true"><a href="http://www.thepictaram.club/instagram/milo_art_tatto"> @milo_art_tatto
                 </a></i>
            <br><br>
     


     <i style="font-size: 24px;" class="fa fa-whatsapp text-center" aria-hidden="true"> +57 310 437 5146</i>
                </div>
            </div>
        </div>
    </div>
    
</section>