<footer style="margin-bottom: 0;" id="footer">
         <div class="container text-center">
             <br><br>
        <h3 class="text-center">Ubicación</h3>
             <br><br><br>
         <p>Barrio la floresta al frente del colegio Consejo de Medellin, Carrera 82 # 47 - 114. <br><br>Lunes a sabado <br>9am - 8pm</p>
             
             <img src="img/logo2.png" style="width: 180px; height: 180px">
             <br><br>
                 <p class="text-center">mapa</p>
                 <div class="col-lg-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0428857307966!2d-75.60250668534024!3d6.2580813279283936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442972f5dba5e9%3A0x8491486ac24ecdb8!2sMedellin+Tattoo+Studio!5e0!3m2!1sen!2sco!4v1515676905882" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
         </div>
                    <br><br>

                        <h4 class="text-center">Coded by: Odrián Ospina &copy;<br><i style="font-size: 21px;" class="fa fa-instagram" aria-hidden="true" class="text-center"><a href="https://www.instagram.com/hackniel/" class="text-center"> : @odrianospina</a></i><br>All rights reserved</h4>
                
              </footer>
