<section id="tattoos" class="col-lg-12">
    <br>
    <br>
    <br>
    <br>
    <br>

<h1 class="text-center" style="padding-top: 10%; font-family: 'Alex Brush', cursive; font-size: 60px">Tattoos</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="card">
                    <img src="../img/Tattoos/3.PNG" alt="Guitar">
  
                </div>
                <div class="card">
                    <img src="../img/Tattoos/1.PNG" alt="A woman playing a guitar">
                    
                </div>
                <div class="card">
                    <img src="../img/Tattoos/4.PNG" alt="Microphone">
                   
                </div>                
                <div class="card">
                    <img src="../img/Tattoos/5.PNG" alt="Microphone">
                   
                </div>                
                <div class="card">
                    <img src="../img/Tattoos/6.PNG" alt="Microphone">
                   
                </div>                
                <div class="card">
                    <img src="../img/Tattoos/7.PNG" alt="Microphone">
                   
                </div>               
                <div class="card">
                    <img src="../img/Tattoos/8.jpg" alt="Microphone">
                   
                </div>               
                <div class="card">
                    <img src="../img/Tattoos/10.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/11.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/12.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/13.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/14.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/15.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/16.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/17.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/18.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/19.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/20.jpg" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/21.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/22.PNG" alt="Microphone">
                   
                </div>
                                <div class="card">
                    <img src="../img/Tattoos/23.PNG" alt="miloart">
                   
                </div>
            </div>
                            <div class="card">
                    <img src="../img/Tattoos/23.PNG" alt="miloart">
                   
                </div>
                            <div class="card">
                    <img src="../img/Tattoos/24.PNG" alt="miloart">
                   
                </div>
                            <div class="card">
                    <img src="../img/Tattoos/25.jpg" alt="miloart">
                   
                </div>
            
                            <div class="card">
                    <img src="../img/Tattoos/26.jpg" alt="miloart">
                   
                </div>
                            <div class="card">
                    <img src="../img/Tattoos/27.PNG" alt="miloart">
                   
                </div>
                            <div class="card">
                    <img src="../img/Tattoos/28.PNG" alt="miloart">
                   
                </div>

        </div>
    </div>

        
    <br>
    <br>
    <br>
    <br id="#ilustrations">
    <br>

<h1 class="text-center" style="padding-top: 10%; font-family: 'Alex Brush', cursive; font-size: 60px">Ilustraciones</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="card">
                    <img src="../img/ilustr/1.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/2.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/3.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/4.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/5.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/6.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/7.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/8.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/10.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/11.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/122.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/13.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/14.jpg" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/15.jpg" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/16.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/18.PNG" alt="miloart">
  
                </div>
                                <div class="card">
                    <img src="../img/ilustr/10330488_10203356505048580_8139205031091065813_n.jpg" alt="miloart">
  
                </div>
                                
                
            </div>
        </div>
    </div>
</section>