<!--nav-->

<div>
  <ul class="navbar-fixed-top">
    <li><a href="#home">Home</a></li>
        <li>Gallery
            <ul>
                <li><a href="#tattoos">Tattoos</a></li>
                <li><a href="#tattoos">illustrations</a></li>
            </ul>
        </li>
        <li>Bio
            <ul>
                <li><a href="#tattoos">About</a></li>
                <li><a href="#tattoos">Skills</a></li>
            </ul>
        </li>
        <li>Contact
            <ul>
                <li><a href="#tattoos">Info</a></li>
                <li><a href="#tattoos">Map</a></li>
            </ul>
        </li>
  </ul>
</div>


    <div class="background">
<div class="container col-lg-12">
    <br>
    <br>
    <div class="cover">
        <div class="row">
        <h1 id="banner">Milo Art<br>Tattoo</h1>
            <br><br>


        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="mainButtons">
         <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-warning">Warning</button>
        </div>
     </div> 

   </div>
</div>










