<div class="work">
    


<div class="img-c">
    <img src="../img/working/tattoos.PNG">
    
    <span><a href="#tattoos"> <h2>Tattoos</h2></a></span>
    
</div>
    <div class="img-c">
    <img src="../img/working/3.PNG">
    
        <span><a href="#illustrations"> <h2>Illustra- <br>ciones</h2></a></span>
    
    </div>
    <div class="img-c">
    
    <img src="../img/working/8584.PNG">

    <span><a href="#bio"><h2>Bio</h2></a></span>
    
</div>
<div class="img-c">
    <img src="../img/working/contact.PNG">
    
    <span><a href="#contact"> <h2>Contacto</h2></a></span>
    
</div>

</div>